*{
    font-family: Raleway;
    box-sizing: border-box;
}

body {
    width: 1340px;
    margin: auto;
}

h1{
    font-size:24px;
}

h2{
    font-size: 20px;
    font-weight: 700;
}

h3 {font-size:  16px;
    font-weight:  400;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toplinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.items{
    text-align: center;
    padding: 20%;
    flex-basis: 100px;

}
.items a{
    text-decoration: none;
    color: black;
}
.items a:hover {
    color: blue;
    border-top:   2px solid blue;  
    padding-top: 30px;
}

.searchcontainer {
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
}
.searchcontainer input  {
height: 50px;
width: 242px;
margin-top: 50px;
position: relative;
bottom: 50px;
left: 0px;
border: 1px solid #F2F2F2;
}


.location{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 51px;
    height: 50px;
    background-color:  #F2F2F2;
    border-radius:20px 0px 0px 20px;
    z-index: 1;
}
button {
    position: relative;
    top: -48px;
    left: -5px;
    height: 50px;
    width: 93px;
    background-color:#0065FC;
    color: white;
    border-radius: 0px 20px 20px 0px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

button:active{
    font-size: 20px;
    text-decoration: none;
}
.filterbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 66%;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.filtericon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color:  #DEEBFF;
    border-radius:30px;
    margin-right:  -45px;
    z-index: 1;
}



.filtername{
    border: 2px solid #dfdfdf;
    border-radius: 30px;
    padding:13px;
    padding-left: 60px;
    padding-right: 20px;
}

.accomodation{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 625px;
    width: 100%;

}

.accobox {
    background-color: #F2F2F2;
    width:65.66%;
    border-radius: 20px;
    padding: 20px 40px;
}


.allrooms{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
    

}
.cards {
    display: flex;
    flex-direction:column;
    border: 5px solid white;
    border-radius: 20px;
    justify-content: space-between;
    width:250px;
    height: 200px;
    text-decoration: none;
    color: black;
}


.cards:hover{
    color: blue;
}

.roomsummary {
    display: flex;
    flex-direction: column;
    background: white;
    height: 40%;
    justify-content: space-between;
    gap: 6px;
    padding: 8px;
    padding-left: 10px;
}
.popbox {
    background-color: #F2F2F2;
    border-radius: 20px;
    justify-content:center;
    width: 31.333%;
    padding: 20px 40px;
    
}
.popheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-chart-line{
    font-size: 25px;
}
.poprooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.popind {
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    border-radius: 20px;
    justify-content: space-between;
    row-gap: 30px;
    width: 342px;
    height: 150px;
    text-decoration: none;
    color: black;
}
.popind:hover{
    color: blue;
}

.roomsummary2 {
    display: flex;
    flex-direction: column;
    background: white;
    width: 60%;
    justify-content: space-around;
    padding: 0px 20px;
}

.roomimage{
    height:60%;
    border-radius: 15px 15px 0px 0px;
}

div.roomimage img {
    
width: 100%;
height: 100%;
object-fit: cover;
border-radius: inherit;
object-position: center;
}
.poproomimage{
    height:100%;
    width: 132px;
    border-radius:  15px 0px 0px 15px;
}

div.poproomimage img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: inherit;
}

.name {
    font-weight: 700;

}

.price {
    font-size: 14px;
    font-weight: 400;
}

.rating{
    font-size: 12px;
    color: #0065FC;
}

.activitysection {
    margin-top:60px;
}

.activities {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1340px;
    height: 444px;
    padding: 0px 2px;
}

.activitybox {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 20px;                                                            /*not working*/
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.img-act1 img{
    height: 390px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    object-position: center;
}



.img-act2 img{
height:180px;
width:100%;
object-fit: cover;
border-radius:  20px 20px 0px 0px;
object-position: center;

}
.img-act3 img{
    height:110px;
    width: 100%;
    object-fit: cover;
    border-radius:  20px 20px 0px 0px;
    object-position: center;
    
    }
    .img-act4 img{
        height: 390px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

    .img-act5 img{
        height:140px;
        width: 100%;
        object-fit: cover;
        border-radius:  20px 20px 0px 0px;
        
        }

        .img-act6 img{
            height:152px;
            width: 100%;
            object-fit: cover;
            border-radius:  20px 20px 0px 0px;
            
            }

.nameact {
    height: 55px;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 0px 0px 20px;
    
    margin-top: -5px;
}

footer{
    width: 1440px;
    height:217px;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    gap: 52px;
    padding: 45px 50px;
    margin: 60px -50px;
}

.footsection{
width: 30%;

}

.foothead{
    font-size: 18px;
    font-weight:700;
    gap: 15px;
}

.footlink{
    font-size:  16px;
    padding: 10px 0px;
    
}

div.footlink a{
    text-decoration: none;
    color: black;
}

div.footlink a:hover{
    text-decoration: none;
    font-weight: 700;
}